---
title: "Lab 7 - Heart Attack"
author: "Roee Morag"
date: "2024-11-01"
output: 
  html_document:
    theme: "cosmo" 
embed-resources: true
---

In [2]:
import pandas as pd 
import numpy as np

from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.compose import make_column_selector, ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, PolynomialFeatures, FunctionTransformer
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
from sklearn.metrics import r2_score, confusion_matrix, ConfusionMatrixDisplay, accuracy_score, classification_report

In [3]:
df_heart = pd.read_csv("https://www.dropbox.com/s/aohbr6yb9ifmc8w/heart_attack.csv?dl=1")

In [4]:
# My approach for this lab is to use predictors that seem to separate the data graphically

df_heart.head()

   age  sex  cp  trtbps  chol  restecg  thalach  output
0   63    1   3     145   233        0      150       1
1   37    1   2     130   250        1      187       1
2   56    1   1     120   236        1      178       1
3   57    0   0     120   354        1      163       1
4   57    1   0     140   192        1      148       1

In [6]:
df_heart.groupby("output")["age"].mean()

output
0    56.700787
1    52.301370
Name: age, dtype: float64

Age does not seem significant of predicting heart attack. In fact we would predict that younger people would be less at risk of heart attack. I will not use this in my preliminary model.

In [7]:
pd.crosstab(df_heart["sex"], df_heart["output"], normalize=True)

output         0         1
sex
0       0.080586  0.245421
1       0.384615  0.289377